<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="../static/css/product_list.css" rel="stylesheet" th:href="@{/css/product_list.css}"/>

</head>
<body>
<header id="header">
    <h1>Product List</h1>
    <a class="navigation_link" th:href="@{/create}">Add Products</a>

</header>
<main id="main">
    <ul>
        <li th:each="product, index : ${products}">
            <div class="item"><b>Nome: </b><span th:text=" ${product.getName()}"></span></div>
            <div class="item"><b>Taxa de Administração: </b><span th:text=" ${product.getAdministrationRate()}"></span>
            </div>
            <div class="item"><b>Prazo: </b><span th:text=" ${product.getTerm()}"></span></div>
            <div class="item"><b>Preço: </b><span th:text=" ${product.getPrice()}"></span></div>
            <div class="item"><b>Taxa de Rentabilidade: </b><span th:text=" ${product.getProfitabilityRate()}"></span>
            </div>
            <div class="item"><b>Status: </b><span th:text=" ${product.getStatus()}"></span></div>
            <div class="item"><b>Destino: </b><span th:text="${product.getDestination()}"></span></div>
            <div class="item"><b>Data de Validade: </b><span
                    th:text="${product.getDueDate()}"></span></div>
            <div class="item"><b>Tem Liquidez diária?: </b><span
                    th:text="${product.getDailyLiquidity()? 'sim': 'não'}"></span></div>

            <div class="container_buttons">
                <span>
                <a th:href="@{'/update/' + ${product.getId()} + '/UNAVAILABLE'}"
                   th:if="${product.getStatus().toString() == 'AVAILABLE'}">Disable</a>
                 <a th:href="@{'/update/' + ${product.getId()} + '/AVAILABLE'}"
                    th:if="${product.getStatus().toString() == 'UNAVAILABLE'}">Enable</a>
            </span>

                <a th:href="@{/delete/{id}(id=${product.getId()})}" th:method="get">Delete</a>

            </div>
        </li>
    </ul>
</main>


</body>
</html>
