<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="../static/css/product_list.css" rel="stylesheet" th:href="@{/css/product_list.css}"/>

</head>
<body>
<header id="header">
    <h1>Product List</h1>
    <button class="button_navigate"><a th:href="@{/create}">Add Products</a></button>

</header>
<main id="main">
    <ul>
        <li th:each="product, index : ${products}">
            <span th:text=" ${'Name: ' + product.getName()}"></span>
            <span th:text="${'Administration Rate: ' +product.getAdministrationRate()}"></span>
            <span th:text="${'Term: ' +product.getTerm()}"></span>
            <span th:text="${'Profitability Rate: ' +product.getProfitabilityRate()}"></span>
            <span th:text="${'Destination: ' +product.getDestination()}"></span>
            <span th:text="${'Status: ' +product.getStatus()}"></span>

            <div class="container_buttons">
                   <span>
                <a th:href="@{'/update/' + ${product.getId()} + '/UNAVAILABLE'}"
                   th:if="${product.getStatus().toString() == 'AVAILABLE'}">Disable</a>
                 <a th:href="@{'/update/' + ${product.getId()} + '/AVAILABLE'}"
                    th:if="${product.getStatus().toString() == 'UNAVAILABLE'}">Enable</a>

            </span>

                <a th:href="@{/delete/{id}(id=${product.getId()})}" th:method="get">Delete</a>

            </div>
        </li>
    </ul>
</main>


</body>
</html>
